* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-rows: 2fr 1fr 80% 1fr;
  grid-template-columns: 1fr 5fr;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1 / 1;
  grid-template-columns: 2fr 4fr;
}

.menu {
  grid-column-start: 2;
  display: grid;
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.sidebar {
  background-color: #C50208;
  grid-column: 1;
  grid-row: 2 / 4;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
  grid-row-start: 2;
  grid-column: 2;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style-type: none;
}

.article {
  background-color: #bccbde;
  grid-column: 2;
  grid-row: 3;
  display: grid;
  
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-row: 4;
  grid-column: 1 / 3;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}